    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>

              <p>Bienvenue sur mon site professionnel. Forte d'une expérience approfondie dans le domaine des ressources humaines, du recrutement et de la gestion administrative, je suis dédiée à aider les entreprises à optimiser leurs processus de recrutement et à gérer efficacement leurs ressources humaines.</p>

              <h3>À propos de moi</h3>

              <p>Avec une carrière riche et diversifiée dans le domaine des ressources humaines, je possède une expertise particulière dans le recrutement, la gestion des talents et la stratégie de développement des ressources humaines. Ma passion est d'aider les entreprises à trouver et à développer les meilleurs talents tout en optimisant leurs processus internes.</p>

              </div>
        </div>
    </section>
